<div class="container">
  <div class="body">
    <div class="row">
      <h1>LETTER GETTER SCORE</h1>
    </div>
    <div class="row">
      <strong><%= @answer %></strong>
    </div>
    <div class="row">
      <%= link_to "Play again!", new_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

